@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,300;1,400;1,500&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Roboto', sans-serif;
  font-weight: 600;
}

.form-control{
  padding: 5px;
  border-radius: 5px;
  width: 100%;
}

.btn{
  padding: 10px;
  border-radius: 3px;
}

.primary{
  background-color: #4040db;
  color: #fff;
  border: none;
}

.red{
  background-color: #e31b1b;
  color: #fff;
  border: none;
}