.videos__container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
    padding: 5px;
}
.video {
    width: 310px;
    margin-bottom: 30px;
}
.video_list{
    display: flex;
}
  
.video__thumbnail {
  width: 100%;
  height: 170px;
}

.video_list__thumbnail {
  width: 50%;
  background-color: #d9d3d3;
  
}

.video__thumbnail img {
  object-fit: cover;
  height: 100%;
  width: 100%;
}
.video_list__thumbnail img {
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.author img {
  object-fit: cover;
  border-radius: 50%;
  height: 40px;
  width: 40px;
  margin-right: 10px;
}

.hideauthor img{
  display: none
}

.video__details {
  display: flex;
  margin-top: 10px;
}

.video_list__details {
  padding: 0 10px;
  /* display: flex; */
  /* margin-top: 10px; */
}

.title {
  display: flex;
  flex-direction: column;
  flex: 2;
}
.del_icon {
  display: flex;
  cursor: pointer;
  flex-direction: column;
  font-size: 30px;
  color: #fe0000;
}

.list_title {
  display: flex;
  flex-direction: column;
}

.title h3 {
  color: rgb(3, 3, 3);
  line-height: 18px;
  font-size: 14px;
  margin-bottom: 6px;
}

.title a,
span {
  text-decoration: none;
  color: rgb(96, 96, 96);
  font-size: 14px;
}

.list_title h3 {
  color: rgb(3, 3, 3);
  line-height: 18px;
  font-size: 14px;
  margin-bottom: 6px;
}

.list_title a,
span {
  text-decoration: none;
  color: rgb(96, 96, 96);
  font-size: 14px;
}

